.card {
    /* display: flex; flex-direction: column; */
    background-color: #efefef;
    height: 80px;
    width: 100%;
    cursor: pointer;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    min-height: 680px;
}

.card:hover {
    filter: drop-shadow(0 0 0.75rem #565656);
    transition: all 0.7s cubic-bezier(.215, .61, .355, 1);
}


.carrello {
    margin-bottom: 20px;
}